- if logged_in?
  -#.DashboardProfileCard
  -#  .DashboardProfileCard-content
  -#    .DashboardProfileCard-userFields
  -#      .DashboardProfileCard-name
  -#        = link_to user_path(current_user), class: "user" do
  -#      %span.DashboardProfileCard-screenname
  -#        @#{current_user.name}
  -#    .ProfileCardStats
  -#      %ul.ProfileCardStats-statList
  -#        %li.ProfileCardStats-stat.Arrange-sizeFit
  -#        %li.ProfileCardStats-stat.Arrange-sizeFit
  -#        %li.ProfileCardStats-stat.Arrange-sizeFit
  .panel.panel-default
    .user
      -if current_user.background_image_url?
        #{image_tag current_user.background_image_url.thumb.url, :class => "user-background-image"}
      -else
        #{image_tag 'noimage.gif'}
      -if current_user.image_url?
        #{image_tag current_user.image_url.thumb.url, :class => "user-image"}
      -else
        #{image_tag 'noimage.gif'}
      .fixed-username
        %a{:href => user_path(current_user)}
          .user-name
            =render_user_screen_name current_user
          .user-id
            @#{current_user.name}




    .profilecard

      %li.tweets-num.Arrange-sizeFit
        %a{:href => user_path(current_user)}
          .text= "ツイート"
          .num= current_user.tweets.count
      %li.follow-num.Arrange-sizeFit
        %a{:href => follows_user_path(current_user)}
          .text= "フォロー"
          .num= current_user.inverse_followers.count
      %li.follower-num.Arrange-sizeFit
        %a{:href => followers_user_path(current_user)}
          .text= "フォロワー"
          .num= current_user.followers.count

    - @tweet.errors.full_messages.each do |message|
      .alert.alert-danger= message
