.col-xs-8#users-content
  .list-group
    .list-group-item.user-list
      %h2 ユーザー一覧
      =search_form_for @user, :url => {:action => :index} do |f|
        = f.label :id, "User:"
        = f.select :id_eq, User.all.map{|st| [st.screen_name, st.id]}.sort, {prompt: ''}
        %br/
        = f.label :name, "アカウント:"
        = f.search_field :name_cont
        = f.submit

    = render partial: "users/user", collection: @users