.navbar.navbar-default
  .container
    .navbar-header

    - if logged_in?
      .navber-header
        %div.twitter-center
          %ul.nav.navbar-brand.navbar-brand-center
            %a{:href => timeline_tweets_path}
              %span.i.fa.fa-twitter
        %div.pull-left
          %ul.nav.navbar-nav.navbar-left
            %li.home
              %a{:href => timeline_tweets_path}
                %span.i.fa.fa-home
                %span.text= "ホーム"
            %li.moment
              %a{:href => moment_index_path}
                %span.i.fa.fa-bolt
                %span.text= "モーメント"
            %li.notifications
              %a{:href => notification_index_path}
                %span.i.fa.fa-bell
                %span.text= "通知"
            %li.message
              %a{:href => message_index_path}
                %span.i.fa.fa-envelope-o
                %span.text= "メッセージ"
            %li.user
              %a{:href => users_path}
                %span.i.fa.fa-user
                %span.text= "ユーザー"
        %div.pull-right
          %ul.nav.navbar-nav.navbar-right
            %li.search
              %a
                %div.search
                  %form
                    %input.search-input{"aria-autocomplete" => "list", "aria-expanded" => "false", "aria-owns" => "typeahead-dropdown-1", :autocomplete => "off", :name => "q", :placeholder => "  キーワード検索", :spellcheck => "false", :type => "text"}/
                    %span.i.fa.fa-search
                    -#=search_form_for @user, url: users_path  do |f|
                    -#  -#= f.label :id, "User:"
                    -#  -#= f.select :id_eq, User.all.map{|st| [st.screen_name, st.id]}.sort, {prompt: ''}
                    -#  -#%br/
                    -#  -#= f.label :name, "アカウント:"
                    -#  = f.search_field :name_or_screen_name_cont,:placeholder => "  キーワード検索"
                    -#  = f.submit

            -#%li.account
            -#  %a{:href => current_user}
            -#    %span.i.fa.fa-user-circle
            -#    %span.text= current_user.name
            %li= link_to "設定", edit_settings_path
            %li= link_to "ログアウト", sessions_path, method: :delete
            %li.tweet
              %a
                %span.i.fa.fa-twitter-square
                %span.text= "ツイート"


    - else
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "会員登録", new_registrations_path
        %li= link_to "ログイン", new_sessions_path